/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  background-color: #f58220;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.custom-color {
  color: #ffffff;
  background-color: #f58220;
}

.custom-color :hover {
  background-color: #f58220;
}

.bg-color {
  background-color: #fff2e3;

}